[submodule "extern/T5_analysis"]
	path = extern/T5_analysis
	url = git@github.com:WCTE/T5_analysis.git
[submodule "extern/Geometry"]
	path = extern/Geometry
	url = https://github.com/WCTE/Geometry.git
[submodule "extern/TimeCal"]
	path = extern/TimeCal
	url = https://github.com/WCTE/TimeCal.git
